.Nav  {
    text-decoration:;
    background-color: gray;
    list-style: none;
    padding: 20px;
    margin: 20px;
    text-align: right;  /* Align the entire list to the right */
}

.Nav li {
    display: inline-block;
    margin-left: 10px;  /* Adjust the margin as needed */
}

.Nav li.first {
    margin-left: 20px;  /* Remove left margin for the first li element */
}

.Nav li.serie {
    margin-right: 20px;  /* Adjust the right margin for li elements with the 'serie' class */
}

A {
    text-decoration: none;
    color: white;
}

.profileCards {
    display: flex;
    
}